:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    /* background-color: #f1f5f9; */
    background-color: #ffffff;
    min-height: 100vh;
}

/* Start Sidebar */
.page aside {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    background-color: #ccc;
}



aside h3 {
    margin-right: 15px;
    margin-bottom: 40px;
}

aside>h3::before,
aside>h3::after {
    content: "";
    background-color: black;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

aside>h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}

aside>h3::after {
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    border-image: initial;
}

aside ul li {

    padding-right: 40px;
    border-radius: 6px;
    margin-bottom: 5px;
}

aside ul li:hover,
.active {
    background-color: #E8E8E8;
}

aside ul li i {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .page aside {
        width: 58px;
        padding: 10px;
    }

    aside h3 {
        font-size: 12px;
        margin-bottom: 15px;
        margin-left: 0;
        padding-left: 0;
    }

    aside>h3::before,
    aside>h3::after {
        display: none;
    }

    aside ul li span {
        display: none;
    }

    aside ul li i {
        margin-right: 0px;
    }

    aside ul li {
        margin-bottom: 12px;
    }
}

/* Start Content */
.content {
    overflow: hidden;
}

.page .head {
    height: 60px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    background-color: #ccc;
}

.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 200px;
    transition: width 0.3s;
}

.head .search input:focus {
    width: 240px;
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

.head .icons img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 50%;
}

.page h1 {
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .page h1 {
        margin-left: 10px;
    }

    .head .search input {
        width: 160px;
    }

    .head .search input:focus {
        width: 160px;
    }
}

/* End Content */
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ccc;
}

.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }

}

/* End Welcome Widget */
/* Start Quick Draft Widget */
.quick-draft {
    background-color: #f4f4f4;
}

.quick-draft input:not(.save) {
    background-color: white;
}

.quick-draft textarea {
    resize: none;
    min-height: 180px;
    background-color: white;
}

.quick-draft .save {
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

/* End Quick Draft Widget */
/* Start Targets */
.targets {
    background-color: #f4f4f4;
}

.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
}

.targets .details .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.targets .details .progress>span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.targets .details .progress>.blue span::after {
    border-top-color: var(--blue-color);
}

.targets .details .progress>.orange span::after {
    border-top-color: var(--orange-color);
}

.targets .details .progress>.green span::after {
    border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

/* End Targets */
/* Start Tickets */
/* Start Tickets */
.tickets {
    background-color: #f4f4f4;
}

.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
    background-color: white;
}

@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}

/* End Tickets */
/* Start Latest News */