:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --page-background-color: #D9D9D9;
    /*#bfbfbf; */
    --aside-head-color: #ccc;
    --wedgit-background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #E8E8E8;
}

.page {
    /* background-color: #f1f5f9; */
    background-color: var(--page-background-color);
    min-height: 100vh;
}

/* Start Sidebar */
.page aside {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    background-color: var(--aside-head-color);
}



aside h3 {
    margin-right: 15px;
    margin-bottom: 40px;
}

aside>h3::before,
aside>h3::after {
    content: "";
    background-color: black;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

aside>h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}

aside>h3::after {
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: #ddd;
    border-image: initial;
}

aside ul li {

    padding-right: 40px;
    border-radius: 6px;
    margin-bottom: 5px;
}

aside ul li:hover,
.active {
    background-color: #E8E8E8;
}

aside ul li i {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .page aside {
        width: 58px;
        padding: 10px;
    }

    aside h3 {
        font-size: 12px;
        margin-bottom: 15px;
        margin-left: 0;
        padding-left: 0;
    }

    aside>h3::before,
    aside>h3::after {
        display: none;
    }

    aside ul li span {
        display: none;
    }

    aside ul li i {
        margin-right: 0px;
    }

    aside ul li {
        margin-bottom: 12px;
    }
}

/* Start Content */
.content {
    overflow: hidden;
}

.page .head {
    height: 60px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    background-color: var(--aside-head-color);
}

.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 200px;
    transition: width 0.3s;
}

.head .search input:focus {
    width: 240px;
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

.head .icons img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 50%;
}

.page h1 {
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.page h1::before {
    background-color: #ddd;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .page h1 {
        margin-left: 10px;
    }

    .head .search input {
        width: 160px;
    }

    .head .search input:focus {
        width: 160px;
    }
}

/* End Content */
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ccc;
}

.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }

}

/* End Welcome Widget */
/* Start Quick Draft Widget */
.quick-draft {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.quick-draft input:not(.save) {
    background-color: white;
    border: 1px solid #ccc;
}

.quick-draft textarea {
    resize: none;
    min-height: 180px;
    background-color: white;
    border: 1px solid #ccc;
}

.quick-draft .save {
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

/* End Quick Draft Widget */
/* Start Targets */
.targets {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
}

.targets .details .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.targets .details .progress>span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.targets .details .progress>.blue span::after {
    border-top-color: var(--blue-color);
}

.targets .details .progress>.orange span::after {
    border-top-color: var(--orange-color);
}

.targets .details .progress>.green span::after {
    border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

/* End Targets */
/* Start Tickets */
/* Start Tickets */
.tickets {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
    background-color: white;
}

@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}

/* End Tickets */
/* Start Latest News */
.latest-news {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.latest-news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}

.latest-news .info {
    flex-grow: 1;
}

.latest-news .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}

.latest-news .news-row .label {
    /* border: 1px solid #ccc; */
}

@media (max-width: 767px) {
    .latest-news .news-row {
        display: block;
    }

    .latest-news .news-row .label {
        margin: 10px auto;
        width: fit-content;
        border: 1px solid #ccc;
    }
}

/* End Latest News */
/* Start Tasks */
.tasks {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .info {
    flex-grow: 1;
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .delete {
    cursor: pointer;
    transition: 0.3s;
}

.tasks .delete:hover:not(.done .delete) {
    color: var(--red-color);
}

/* End Tasks */
/* Start Top Search */
.top-search-items {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

/* End Top Search */
/* Start Latest Uploads */
.latest-uploads {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.latest-uploads ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.latest-uploads ul li img {
    width: 40px;
    height: 40px;
}

/* End Latest Uploads */
/* Start Last Project */
.last-project {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.last-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}

.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul li.done::before {
    background-color: var(--blue-color);
}

.last-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}

.last-project .launch-icon {
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}

@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: white;
    }
}

/* End Last Project */
/* Start Reminders */
.reminders {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.reminders ul li .key {
    width: 15px;
    height: 15px;
}

.reminders ul li>.blue {
    border-left: 2px solid var(--blue-color);
}

.reminders ul li>.green {
    border-left: 2px solid var(--green-color);
}

.reminders ul li>.orange {
    border-left: 2px solid var(--orange-color);
}

.reminders ul li>.red {
    border-left: 2px solid var(--red-color);
}

/* End Reminders */
/* Start Latest Post */
.latest-post {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.latest-post .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.latest-post .post-content {
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    min-height: 140px;
}

/* End Latest Post */
/* Start Social Media */
.social-media {
    background-color: var(--wedgit-background-color);
    border: 1px solid #ccc;
}

.social-media .box {
    padding-left: 70px;
}

.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;
}

.social-media .box i:hover {
    transform: rotate(5deg);
}

.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}

.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}

.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}

.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}

/* End Social Media */