:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

/* Start Sidebar */
.page aside {
    box-shadow: 0 0 10px #ddd;
    background-color: #F4F4F4;
}



aside h3 {
    margin-right: 15px;
    margin-bottom: 40px;
}

aside>h3::before,
aside>h3::after {
    content: "";
    background-color: black;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

aside>h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}

aside>h3::after {
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    border-image: initial;
}

aside ul li {

    padding-right: 40px;
    border-radius: 6px;
    margin-bottom: 5px;
}

aside ul li:hover,
.active {
    background-color: #eee;
}

aside ul li i {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .page aside {
        width: 58px;
        padding: 10px;
    }

    aside h3 {
        font-size: 12px;
        margin-bottom: 15px;
        margin-left: 0;
        padding-left: 0;
    }

    aside>h3::before,
    aside>h3::after {
        display: none;
    }

    aside ul li span {
        display: none;
    }

    aside ul li i {
        margin-right: 0px;
    }
}

/* Start Content */
.content {
    overflow: hidden;
}

.page .head {
    height: 60px;
    flex: 1;
    box-shadow: 0 0 10px #ddd;
    background-color: #F4F4F4;
}

.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 200px;
    transition: width 0.3s;
}

.head .search input:focus {
    width: 240px;
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

.head .icons img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 50%;
}

/* .page h1 {
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
} */

/* End Content */
/* Start Welcome Widget */